APPNAME=DemoInfoTV
CLIENTID=

# Database configuration
DB_HOST="localhost"
DB_PORT="3306"
DB_NAME="demoinfo"
DB_USER="demoinfo"
DB_PASS="demoinfo"
# Display orientation   "Landscape" | "Portrait"
DISPLAY_ORIENTATION="Portrait"
# Use Crontab
SCHEDULE_CRONTAB="yes"
# Registry service

